*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
/* css CV container*/
.container_cv{
	background-color: #999;
	font-size: 15px;
	line-height: 20px;
	width: 100%;
	height: auto;
	position: relative;
}
.editbtn{
	position: absolute;
	top:0;
	right: 0;
	font-size: 15px;
	padding: 3px;
}
.resume_wrapper{
	display: flex;
	width: 700px;
	margin: auto;
	background: #fff;
    height: auto ;
	position: relative;
}
.resume_wrapper .resume_left{
	width: 145%;
	background: #555555;
	position: relative;
}
.resume_left .lineone{
	background-color: #fff;
	width: 100%;
	height: 20px;
	z-index: 2;
	position: absolute;
	top: 120px;
}
.abcd{
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 200px;
}
.resume_wrapper .resume_left .line{
	width: 100%;
	height: 20px;
	z-index: 2;
	position: absolute;
	bottom: 20px;
}
.resume_wrapper .resume_left .resume_image{
	width: 100%;
	height: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}
.resume_wrapper .resume_left .resume_image img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 50px;
	object-fit: cover;
} 
.resume_wrapper .resume_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
    margin-left: 30px;
	margin-bottom: 20px;
    margin-top: 20px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.resume_wrapper .resume_left .resume_info{
	color:#fff;
    margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.resume_wrapper .resume_left .resume_info1{
	color:#fff;
    margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 4px;
	display: inline-block;
}
.resume_subinfo_1{
	color:#fff;
	position: relative;
	padding-right: 20px;
	word-break: break-all;
}   
.resume_subinfo3{
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 20px;
	word-break: break-all;
} 
.resume_subinfo{
	padding-left: 6px;
	width: 140px;
	padding-right: 20px;
	word-break: break-all;
} 
.resume_subinfo_2{
	width: 80px;
	word-break: break-all;
}
.resume_subinfo_6{
	width: 85px;
	word-break: break-all;
}
.resume_subinfo5{
	padding-left: 8px;
	padding-right: 20px;
	word-break: break-all;
}
.facontract {
    font-size: 13px;
    padding-right: 10px;
} 
.fa-brands{
    font-size: 18px;
    padding-right: 10px;
	padding-top: 0;
}  
.fa-brands1{
	background-color:#4267b2 ;
	border-radius: 5px;
	padding-right: 8px;
}
.fa-brands2{
	background-color:#E34258;
	border-radius: 5px;
	padding-right: 3px;
}
.fa-brands3{
	background-color:#55ACEE;
	border-radius: 5px;
	padding-right: 1px;
}
.fa-brands4{
	background-color:#55ACEE;
	border-radius: 5px;
	padding-right: 3px;
}
.resume_wrapper .cv-block-title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
    margin-left: 30px;
	margin-bottom: 20px;
    margin-top: 20px;
	text-transform: capitalize;
	letter-spacing: 1px;
	width: 100%;
}
.cv-text-block{
 
    flex-wrap: wrap;
	margin-right: 10px;
	width: 100%;
}
.block-item-skill{
	color:#fff;
    margin-left: 30px;
	margin-right: 25px;
	margin-bottom: 2px;
	margin-top: 4px;
	font-size: 13px;
}
.cv-block-item{
    display: flex;
}
.block-item-skill{
    width: 100px;
	word-break: break-all;
}
.fa-starr{
	font-size: 10px;
}
.fa-starr1{
	font-size: 10px;
	color: #C0C0C0;
}
.block-item-icon{
	margin-right: 10px;
	color: #fff;
}
.cv-block-item-hobby{
    display: flex;
    flex-wrap: wrap;
}
.item-hobby{
    width: 50%;
}
.item-hobby i{
    margin-right: 3px;
	margin-bottom: 15px;
}

.block-item-icon i {
    margin: 0px ;
}
.block-item-hobby{
    width: 80px;
    word-wrap: break-word;
}
.fa-solid{
	color: #fff;
}
.block-item-hobby{
	color: #fff;
	margin-left: 5px;
}
.cv-block-item-hobby{
	padding-left: 30px;
}

.resume_wrapper .resume_right{
	width: 210%;
	background: #fff;
	position: relative;
	padding: 80px 30px 30px 25px ;
}
.nameperson{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	font-size: 30px;
	padding-bottom: 20px;
	font-weight:600 ;
	letter-spacing: 4px;
}
.namework{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	font-size: 23px;
	letter-spacing: 6px;
	font-weight:200 ;
	padding-bottom: 50px;
	color: #444444;
}
.resume_subinfo_right_1{
	color: #004400;
	font-size:17px;
	font-weight:700 ;
	padding-bottom: 15px;
	padding-top: 15px;
}
.resume_subinfo_right_3{
	font-weight:700 ;
}
.resume_subinfo_right_5{
	padding-bottom: 10px;
}
.resume_subinfo_right_5 li{
	display: inline-block;
}
.resume_subinfo_right_2{
	padding-top: 10px;
	font-size: 15px;
}
.resume_subinfo_right_4{
	color: #555555;
}
/* css form container*/
.container-form{
	position: fixed;
	top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,0.5);
	z-index: 7;
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(to bottom left, #f7cb69 0%, #f7a471 100%);
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#d9d9d9;
}
 form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
 }
 form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
 }
 form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
    background: #000;
    border-color: #ccc;
   
   /* border-color: #d9d9d9; */
 }
 form input[type="radio"]{
    display: none;
 }
.button{
    height: 45px;
    margin: 35px 0;
	width: 100%;
	border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom left, #f7cb69 0%, #f7a471 100%);
 }
  .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom left, #f7cb69 0%, #f7a471 100%);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
    background: linear-gradient(to bottom left, #f7cb69 0%, #f7a471 100%);
}

/* Responsive cv*/
@media screen and (max-width: 697px) {
	/* responsive phần cv */
	.resume_wrapper{
		width: 94%;
		margin: 10px auto;
		flex-direction: column;
	}
	.resume_wrapper .resume_left .line{
		display: none;
	}
	.resume_wrapper .resume_left,
	.resume_wrapper .resume_right{
		width: 100%;
	}
	.nameperson{
		display: inline;
	}
	.namework{
		display: inline;
		display: block;
		margin-bottom: 20px;
	}
	.resume_wrapper .resume_left .resume_image img{
		text-align: center;
	}
	.cv-block-item-hobby{
		display: inline-block;
		
	}
	/* */
}
@media (max-width:700px){
	/* responsive phần cv */
	.block-item-icon{
		display: block;
	}
}
@media (max-width:570px){
	/* responsive phần cv */
	.resume_Hobby_conten li {
		grid-template-columns: repeat(1,1ft);
		display: block;
		margin-top: 0;
	}
	.cv-block-item{
		display: flex;
		flex-wrap: wrap;
	}
	.block-item-icon{
		padding-left: 30px;
	}
}
/* responsive form */
@media(max-width: 584px){
    .container{
        max-width: 100%;
}
.container{
    height: 100%;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
}
  form .category{
      width: 100%;
}
  /* .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
} */
  .user-details::-webkit-scrollbar{
      width: 5px;
}

}
  @media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
        
}
.container{
    height: 100%;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
/* css error warnning */
.error-information{
    font-size: 15px;
    font-weight: 300;
    color: red;
}
.invalid{
    border-color: red;
}
